<div class="card">
    <div class="card-body">
        <form [formGroup]="editBook" novalidate>
            <div class="form-group">
                <label class="col-md-4">Nombre</label>
                <input type="text" class="form-control" formControlName="bookName" #bookName [(ngModel)]="bookToEdit.bookName" />
            </div>
            <div *ngIf="editBook.controls['bookName'].invalid && (editBook.controls['bookName'].dirty || editBook.controls['bookName'].touched)"
                class="alert alert-danger">
                <div *ngIf="editBook.controls['bookName'].errors.required">
                    Nombre de libro requerido.
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">Autor</label>
                <input type="text" class="form-control" formControlName="author" #author [(ngModel)]="bookToEdit.author" />
            </div>
            <div *ngIf="editBook.controls['author'].invalid && (editBook.controls['author'].dirty || editBook.controls['author'].touched)"
                class="alert alert-danger">
                <div *ngIf="editBook.controls['author'].errors.required">
                    Nombre de autor requerido.
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">ISBN</label>
                <input type="text" class="form-control" formControlName="isbn" #isbn
                    [(ngModel)]="bookToEdit.isbn" />
            </div>
            <div *ngIf="editBook.controls['isbn'].invalid && (editBook.controls['isbn'].dirty || editBook.controls['isbn'].touched)"
                class="alert alert-danger">
                <div *ngIf="editBook.controls['isbn'].errors.required">
                    ISBN requerido.
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">Descripcion</label>
                <input type="text" class="form-control" formControlName="summary" #summary
                    [(ngModel)]="bookToEdit.summary" />
            </div>
            <div *ngIf="editBook.controls['summary'].invalid && (editBook.controls['summary'].dirty || editBook.controls['summary'].touched)"
                class="alert alert-danger">
                <div *ngIf="editBook.controls['summary'].errors.required">
                    Descripcion requerida.
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">Paginas</label>
                <input type="text" class="form-control" formControlName="pages" #pages
                    [(ngModel)]="bookToEdit.pages" />
            </div>
            <div *ngIf="editBook.controls['pages'].invalid && (editBook.controls['pages'].dirty || editBook.controls['pages'].touched)"
                class="alert alert-danger">
                <div *ngIf="editBook.controls['pages'].errors.required">
                    Cantidad de paginas requerida.
                </div>
            </div>
            <div class="form-group">
                <button (click)="updateBook(bookName.value, author.value, isbn.value , summary.value, pages.value)" type="submit"
                    class="btn btn-primary" [disabled]="editBook.invalid">
                    Actualizar libro
                </button>&nbsp;<a class="btn btn-primary" [routerLink]="['/list-bicicletas']"
                    routerLinkActive="router-link-active">Cancelar</a>
            </div>
        </form>
    </div>
</div>