<div class="container">
    <h2>Detalle de bicicleta</h2>
    <div class="card">
        <div class="card-header bg-primary text-white">Ficha de bicicleta</div>
        <div class="card-body">
            <p>Marca: {{bicicleta.marca}}</p>
            <p>Tipo: {{bicicleta.tipo}}</p>
            <p>precio: {{bicicleta.precio}}</p>
        </div>
        <div class="card-footer">No existe mas información a mostrar acerca de la bicicleta</div>
    </div>
    <br>
    <a [routerLink]="['/list-bicicletas']" class="btn btn-primary">Regresar</a>
</div>