<div class="card">
    <div class="card-body">
        <form [formGroup]="editBicicleta" novalidate>
            <div class="form-group">
                <label class="col-md-4">Marca</label>
                <input type="text" class="form-control" formControlName="marca" #marca [(ngModel)]="bikeToEdit.marca" />
            </div>
            <div *ngIf="editBicicleta.controls['marca'].invalid && (editBicicleta.controls['marca'].dirty || editBicicleta.controls['marca'].touched)"
                class="alert alert-danger">
                <div *ngIf="editBicicleta.controls['marca'].errors.required">
                    Nombre de Marca requerido.
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">Tipo</label>
                <input type="text" class="form-control" formControlName="tipo" #tipo [(ngModel)]="bikeToEdit.tipo" />
            </div>
            <div *ngIf="editBicicleta.controls['tipo'].invalid && (editBicicleta.controls['tipo'].dirty || editBicicleta.controls['tipo'].touched)"
                class="alert alert-danger">
                <div *ngIf="editBicicleta.controls['tipo'].errors.required">
                    Tipo de bicicleta requerido.
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">Precio</label>
                <input type="text" class="form-control" formControlName="precio" #precio
                    [(ngModel)]="bikeToEdit.precio" />
            </div>
            <div *ngIf="editBicicleta.controls['precio'].invalid && (editBicicleta.controls['precio'].dirty || editBicicleta.controls['precio'].touched)"
                class="alert alert-danger">
                <div *ngIf="editBicicleta.controls['precio'].errors.required">
                    El precio de la bicicleta requerido.
                </div>
            </div>
            <div class="form-group">
                <button (click)="updateBicicleta(marca.value, tipo.value, precio.value)" type="submit"
                    class="btn btn-primary" [disabled]="editBicicleta.invalid">
                    Actualizar bicicleta
                </button>&nbsp;<a class="btn btn-primary" [routerLink]="['/list-bicicletas']"
                    routerLinkActive="router-link-active">Cancelar</a>
            </div>
        </form>
    </div>
</div>